---
import Card from './Card'
---

<div class="min-h-screen">
    <div class="flex flex-row items-center justify-center gap-2 mb-3">
        <i class="bi bi-cart text-pink-500 text-3xl"></i>
        <h1 
            id="title"
            style={{fontFamily: 'Cormorant Garamond sans-serif'}}
            class="text-3xl font-semibold italic text-pink-500">
            Cart
        </h1>
    </div>
    <div class="flex flex-col gap-4 p-4 items-center">
        <Card client:load/>
        <Card client:load/>
        <Card client:load/>
        <Card client:load/>
    </div>
</div>