---
import Card from "./Card";
import CardContainer from "./CardContainer";
import CategoryContainer from "./CategoryContainer";
---
<h1 
    id="title" 
    style={{fontFamily: 'Cormorant Garamond sans-serif'}}
    class="text-3xl justify-center font-semibold italic text-pink-500 mb-4">
</h1>
<script>
    document.getElementById("title").innerHTML = document.title;
</script>

<CategoryContainer client:load/>