---
import Card from "./Card";
import CardContainer from "./CardContainer";
---
<h1 
    id="title" 
    style={{fontFamily: 'Cormorant Garamond sans-serif'}}
    class="text-3xl justify-center font-semibold italic text-pink-500 mb-4">
</h1>
<script>
    document.getElementById("title").innerHTML = document.title;
</script>

<div class="p-4">
    <CardContainer>
        <Card
            image=""
        />
        <Card
            image=""
        />
        <Card
            image=""
        />
    </CardContainer>
</div>