---
import ProductContainer from './ProductContainer'
---

<div class="pt-16 min-h-screen">
    <ProductContainer client:load/>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<style is:inline>
    .slick-prev:before, .slick-next:before {
        color: red;
        font-size: 1.5rem;
    }
</style>