---
import ProductContainer from './ProductContainer'
---

<div class="pt-16 min-h-screen">
    <ProductContainer client:load/>
</div>

<style is:inline>
    .sliderClass{
        --organic-arrow-color: #e113aa;
        --control-bullet-color: #e113aa;
        --control-bullet-active-color: #e113aa;
    }
</style>