<div class="px-8 bg-gray-100" >
    <div id="image" class="h-full">
        <img src="/images/bouquet.webp" alt="bouquet" class="h-full">
        <img src="/images/papan-bunga.webp" alt="papan bunga" class="h-full">
        <img src="/images/snack-tower.webp" alt="snack tower" class="h-full">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<style is:inline>
    .slick-prev:before, .slick-next:before {
        color: red;
        font-size: 1.5rem;
    }
</style>

<script>
    // @ts-nocheck
    $(document).ready(function(){
        $('#image').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
        });
    });
</script>